<section>
    <form (submit)="filterResults($event, filter.value)">
        <input type="text" placeholder="Filter by city" #filter>
        <button class="primary" type="submit">Search</button>
    </form>
    <section class="results">
        <!-- Se puede reemplazar por el nuevo @for 
        <app-housing-location *ngFor="let housinglocation of housinglocationList [housinglocation]">
        </app-housing-location> 
        -->

        <!-- 
            Property Binding para pasar los componentes desde el padre al hijo
            app-housing-location es la directiva del componente housing location, que es el hijo de home component 
        -->

        @for (housinglocation of filteredLocationList; track $index) {
        <app-housing-location [housingLocationInput]="housinglocation"></app-housing-location>
        }


        <!-- Si los datos estuvieran ya en app-housing-location
        <app-housing-location></app-housing-location> -->
    </section>
</section>